.app {
  /* The background layer */
  background: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}

.app_body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Height sets to 100% */
  max-width: 1200px; /* width sets to 1200px, resizes when window is smaller than that. */
  width: 100%; 
  position: relative;
  overflow-y: hidden;
}

.main_panel{
  display: flex;
  height: calc(100vh - 3rem);
}

/* When screen width is smaller than 750px */
@media (max-width: 750px){
  .thread_bar{
    display: none;
  }
}
