.create_reply{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 500px;
    height: 100%;
    max-width: 550px;
    width: 100%;
    align-items:center ;
    background-color: #222;
    transition: 100ms;
    z-index: 10;
}

.create_reply_header{
    min-height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.create_reply_header_upper{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.create_reply_header_upper > p , .create_reply_header_lower > p{
    font-size: 16px;
    margin-left: 10px;
    color: aliceblue;
    white-space: nowrap;
}

.create_reply_header_upper > input{
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    margin-right: auto;
    background-color: #222;
    border-radius: 5px;
    border: 1px solid;
    border-color:rgb(248, 183, 123);
    color: rgba(240, 248, 255, 0.7);
    margin-left: 10px;
    width:70%;
}

.create_reply_exit_button{
    display: flex;
    height: 100%;
    width: 3rem;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    justify-content: center;
    align-items:center ;
}

.create_reply_header_lower{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.create_reply_exit_button:hover{
    background-color: rgb(68, 68, 68);
}

.create_reply_body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_reply_footer{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.preview_reply_button{
    margin-left: auto;
    margin-right: 5px;
    height: 80%;
    width: 6rem;
    color:aliceblue;
    border: 1px solid;;
    border-color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.preview_reply_button:hover{
    background-color: aliceblue;
    color:#222;
}

.sumbit_reply_button{
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;
    width: 6rem;
    color: rgb(248, 183, 123);
    border: 1px solid;;
    border-color: rgb(248, 183, 123);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.sumbit_reply_button:hover{
    background-color: rgb(248, 183, 123);
    color:rgb(27, 27, 27)
}

/* When screen width is smaller than 750px */
@media (max-width: 750px){  
    .create_reply{
      bottom: 3rem;
    }
  }