.nav_bar{
  display: flex;
  position: relative;
  height: 2.9rem;
  width: 100%;
  z-index: 50;
  background-color: #222;
}

.nav_bar_left{
  background-color: #222;
  align-items: center;
  color: aliceblue;
  flex-basis: 30%;
  flex-shrink: 0;
  max-width: 480px;
  min-width: 300px;
  border-right: 1px solid #777777;
  display: flex;
  position: relative;
  z-index: 10;
}

.nav_bar_left_menu_button{
  display: flex;
  padding: 0.7rem;
  align-items: center;
  color: aliceblue;
  cursor: pointer;
}

.category_name{
  margin-left: auto;
  color:rgb(248, 183, 123);
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-bottom: 4px;
}

.nav_bar_left_f5_button{
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.7rem;
  cursor: pointer;
}

.nav_bar_left_create_thread_button{
  display: flex;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
}

.nav_bar_right{
  display: flex;
  width: 100%;
  background-color: #222;
  align-items: center;
  z-index: 30;
}

.nav_bar_right_close_button{
  display: none;
  padding: 0.7rem;
  align-items: center;
  color: aliceblue;
  cursor: pointer;
}

.nav_bar_right_go_back_button{
  display: flex;
  padding: 0.7rem;
  align-items: center;
  color: aliceblue;
  cursor: pointer;
}

.nav_bar_right_scroll_to_bottom_button, .nav_bar_right_reply_button{
  display: flex;
  padding: 0.7rem;
  align-items: center;
  color: aliceblue;
  cursor: pointer;
}

.nav_bar_right_thread_topic_container{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: 5px;
}

.nav_bar_right_thread_topic{
  color:rgb(248, 183, 123);
  font-size: 1.2rem;
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav_bar_left_menu_button:hover, .nav_bar_left_f5_button:hover, .nav_bar_left_create_thread_button:hover, .nav_bar_right_close_button:hover, .nav_bar_right_go_back_button:hover, .nav_bar_right_scroll_to_bottom_button:hover, .nav_bar_right_reply_button:hover{
  background-color: rgb(68, 68, 68);
}

@media screen and (max-width: 767px) {
  .nav_bar_left{
    max-width: none;
    min-width: 100%;
    position: fixed;
  }

  .nav_bar_right{
    position: fixed;
  }

  .nav_bar_right_close_button{
    display: flex;
  }

  .nav_bar_right_go_back_button{
    display: none;
  }
}