.thread_block{
    background-color: rgb(34, 34, 34);
    display: flex;
    min-height: 90px;
    height: auto;
    border-bottom: 1px solid #7a7a7a;
    color:aliceblue;
    position: relative;
    cursor: pointer;
}

.thread_block:hover{
    background-color: rgb(48, 48, 48);
}

.thread_block_container{
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 4px;
}

.thread_block_upper_level{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
}

.thread_block_upper_level_left{
    display: flex;
    align-items: center;
}

.thread_block_username{
    font-size: 16px;
    font-weight: 300;
    max-width: 80%;
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fire_icon, .reply_count_icon{
    margin-top: 3px;
    margin-left: 3px;
    transform: scale(0.7);
}

.thread_block_vote_score,.thread_block_reply_count{
    font-size: 12px;
    font-weight: 500;
}

.thread_block_last_reply_time{
    color: #888888;
    font-size: 12px;
    font-weight: 400;
}

.thread_block_lower_half{
    align-items: center;
    height: calc(100% - 2rem);
    overflow: hidden;
}

.thread_topic{
    overflow-wrap: break-word; 
}