.thread_reply{
    background-color: rgb(48, 48, 48);
    display: flex;
    height: auto;
    width: 100%;
    color: #ffffff;
    margin-top: 15px;
}

.thread_reply_container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 100%;
    overflow: hidden;
}

.reply_upper_level{
    display: flex;
    align-items: center;
}

.reply_floor{
    font-weight: 300;
    font-size: 15px;
}

.reply_author{
    margin-left: 10px;
    font-size: 16px;
}

.reply_verified_icon{
    margin-left:2px;
    scale: 0.8;
    color:rgb(248, 183, 123);
}

.reply_OP{
    margin-left: 8px;
    font-weight: 600;
    font-size: 15px;
    color:rgb(123, 248, 190);
}

.reply_time{
    margin-left: 8px;
    color: #888888;
    font-size: 12px;
    font-weight: 400;
}

.reply_mid_level{
    margin-top: 15px;
    margin-bottom: 10px;
}

.reply_content{
    overflow: hidden;
}

.reply_base_level{
    display: flex;
}

.vote{
    display: flex;
    background-color: rgb(73, 73, 73);
    padding: 6px;
    border-radius: 5px;
    align-items: center;
}

.upvote_button{
    margin-left: 2px;
    transform: scale(0.7);
}

.upvote_button:hover{
    color: rgb(231, 91, 91);
}

.upvote_score{
    font-size: 12px;
    color: #acabab;
}

.downvote_button{
    margin-left: 4px;
    transform: scale(0.7);
}

.downvote_button:hover{
    color: rgb(91, 154, 231);
}

.downvote_score{
    font-size: 12px;
    color: #acabab;
    margin-right: 4px;
}