.side_menu{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 80;
  max-width: 1300px;
  width: 100%;
}
  
.side_menu_overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
  background: rgba(0,0,0,.5);
  pointer-events: none;
}
  
.side_menu_window{
  color: aliceblue;
  display: flex;
  pointer-events: auto;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 41;
  transition: 0.4s;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.search_container{
  display: flex;
  background-color: rgb(26, 26, 26);
  margin-top: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  width: 70%;
  height: 1.5rem;
  border: 2px solid;
  border-color: rgb(26, 26, 26);
  transition: 0.2s;
}

.search_container:focus-within{
  border: 2px solid;
  border-color:rgb(248, 183, 123);
}

.search_bar{
  display: flex;
  width: 100%;
  align-items: center;
}

#search_icon{
  transform: scale(1.2);
}

.search_text_field{
  height: 100%;
  border: none;
  background-color: rgb(26, 26, 26);
  color:rgb(255, 255, 255);
  font-size: 14px;
  margin-left: 5px;
  outline: none;
  margin-right: auto;
}

#search_bar_clear{
  display:none;
}

.my_account_button, .my_posts_button{
  margin-top: 8px;
  padding: 6px;
  width: 75%;
  font-weight: 600;
  transition: 0.1s;
  user-select: none;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 5px;
}

.my_account_button:hover, .my_posts_button:hover{
  color:rgb(248, 183, 123);
  font-weight: 650;
}

.side_menu_window > hr{
  border: 2px solid;
  width: 85%;
  color: rgb(14, 14, 14);
}

.side_menu_window > p{
  margin-top: 5px;
  font-size: 17px;
  font-weight: 600;
  color:rgb(248, 183, 123);
}

.category_select{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.category_group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.category_select > p {
  font-size: 17px;
  font-weight: 600;
  color:rgb(248, 183, 123);
}

.category{
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding: 8px;
  width: 100%;
  font-weight: 500;
  transition: 0.1s;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
}

.category:hover{
  color:rgb(248, 183, 123);
  font-weight: 600;
}

.side_menu_footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 80%;
  margin-bottom: 8px;
}

.side_menu_footer > a{
  font-size: 11px;
  text-decoration: none;
  color:rgb(248, 183, 123);
}

.side_menu_footer > a:link{
  text-decoration: none;
  color:rgb(248, 183, 123);
}

