.bottom_bar{
  display: none;
  background-color: #222;
  color:rgb(248, 183, 123);
  height: 3rem;
  width: 100%;
  bottom: 0;
  position: fixed;
  align-items: center;
}

.bottom_bar_menu_button, .bottom_bar_f5_button, .bottom_bar_create_thread_button{
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom_bar_menu_button:hover, .bottom_bar_f5_button:hover, .bottom_bar_create_thread_button:hover{
  background-color: rgb(68, 68, 68);
}

/* When screen width is smaller than 750px */
@media (max-width: 750px){  
    .bottom_bar{
      display: flex;
    }
  }