.thread_bar{
    background-color: rgb(39, 39, 39);
    flex-basis: 30%;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 480px;
    min-width: 300px;
    overflow-y: scroll;
    scrollbar-color: #3f3f3f #151515;
    border-right: 1px solid #777777;
  }