.app {
  /* The background layer */
  background: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.app_body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Height sets to 100% */
  max-width: 1200px; /* width sets to 1200px, resizes when window is smaller than that. */
  width: 100%; 
  position: relative;
}

.main_panel{
  display: flex;
  height: calc(100vh - 3rem);
}

.thread_bar{
  background-color: rgb(39, 39, 39);
  flex-basis: 30%;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 480px;
  min-width: 300px;
  overflow-y: scroll;
  scrollbar-color: #3f3f3f #151515;
  border-right: 1px solid #777777;
}

.thread_content{
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y:scroll;
  scrollbar-color: #3f3f3f #151515;
}

.end_of_thread_content{
  min-height: 3rem;
}

/* When screen width is smaller than 750px */
@media (max-width: 750px){
  .thread_bar{
    display: none;
  }
}

/* When topic is not seelcted
@media (max-width: 750px){
  .nav_bar_left{
    min-width: 100%;
  }

  .thread_bar{
    min-width: 100%;
  }

  .bottom_bar{
    display: flex;
  }
}
*/