/* Setting up the background layer of create thread window */
.create_thread{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 60;
  justify-content: center;
  align-items: center;
}

/* The darken layer, click will exit the create thread window */
.create_thread_overlay{
  display: flex;
  position: absolute;
  z-index: 61;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: auto;
  flex-direction: column;
}

.create_thread_window{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 72;
  pointer-events: auto;
  background-color: #222;
  max-height: 650px;
  height: 100%;
  max-width: 850px;
  width: 100%;
}

.create_thread_window_header{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create_thread_window_header > div{
  display: flex;
}

.create_thread_window_header > div > p{
  padding: 1rem;
  color:rgb(248, 183, 123);
  font-size: 20px;
  font-weight: 600;
}

.category_choose{
  z-index: 30;
  margin-top: 30px;
  background-color: #222;
}

.create_thread_window_exit_button{
  height: 3rem;
  width: 3rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_thread_window_exit_button:hover{
  background-color: rgb(68, 68, 68);
}

.create_thread_window_title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  width: 96%;
  background-color: rgb(26, 26, 26);
  color:rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid;
  border-color: rgb(26, 26, 26);
  outline: none;
  font-size: 20px;
  transition: 0.2s;
  padding: 6px;
  z-index: 40;
  margin-bottom: 3px;
}

.title:focus{
  border-color: rgb(248, 183, 123);
}

.create_thread_window_content{
  display: flex;
  max-width: 100%;
  width: 100%;
  max-height: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.create_thread_window_footer{
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.footer_buttons{
  height: 100%;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.cancel_button{
  height: 90%;
  width: 6rem;
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid;
  color: red;
  border-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  font-weight: 600;
  font-size: 18px;
}

.sumbit_button{
  margin-left: 20px;
  margin-right: 8px;
  height: 90%;
  width: 6rem;
  color: rgb(248, 183, 123);
  border: 1px solid;;
  border-color: rgb(248, 183, 123);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  font-weight: 600;
  font-size: 18px;
}

.cancel_button:hover{
  background-color: red;
  color: #222;
}

.sumbit_button:hover{
  background-color: rgb(248, 183, 123);
  color: rgb(26, 26, 26);
}